{extend name="public/base" /}
{block name="sidebar"}{/block}
{block name="style"}
<style type="text/css">
    th,td{
        height: 40px;
    }
</style>
{/block}
{block name="body"}

<div class="wrapper wrapper-content">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">            
            <div class="row">
                <p class="gk-list-title">编辑banner位置</p>
            </div>
        </div>
        <div class="row"> 
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    
                    <div class="ibox-content" style="text-align: center;">
                        <form method="post" class="form-horizontal" action="/Admin/banner/edittype" enctype="multipart/form-data">
                            <div class="hr-line-dashed"></div>
                            <input type="hidden"  name="id" value="{$info['id']}" required="">
                            
                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group has-success"><label class="col-sm-1 control-label">Banner位置</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="name" required value="{$info['name']}"></div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group has-success"><label class="col-sm-1 control-label">Banner描述</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="description" value="{$info['description']}"></div>
                            </div>

                            <div class="hr-line-dashed"></div>         
                            <div class="text-center">
                                <input type="submit" value="提交" class="btn btn-primary">
                            </div>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>         
    </div>
</div>

{/block}
{block name="script"}{/block}